<head>
  <meta charset="utf-8" />
  <script
    src="static/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
  </script>
  <script src="static/react.js"></script>
  <script src="static/react-dom.js"></script>
  <script src="static/babel.min.js"></script>
  <script type="text/babel" src="static/search.js"></script>
</head>
<body>
  <div id="container"></div>
</body>
